<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <title></title>
    <style type="text/css">
    .listed-btn a {border: 1px solid #f6929b; color: #f6929b; display: block; font-size: 15px; letter-spacing: 0.4px; margin: 0 auto; max-width: 204px; padding: 9px 4px; height: initial; text-align: center; text-transform: uppercase; text-decoration: none;width: 100%;}
    </style>
</head>
   
   <body style="background:#f1f1f1; margin:0px; padding:0px; font-size:12px; font-family:'roboto', sans-serif; line-height:21px; color:#666; text-align:justify;">
      <div style="max-width:630px;width:100%;margin:0 auto;">
        <div style="padding:0px 15px;">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
         <tr>
            <td>&nbsp;</td>
         </tr>
         <tr>
            <td bgcolor="#FFFFFF" style="border:1px solid #e5e5e5;">
               <table style="margin-bottom: 0;" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr >
                     <td style="color: #333;    font-size: 15px;    padding: 20px 25px;    text-align: center;">
                        <table style="margin-bottom: 0;" width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td style="text-align:center;"><a href="javascript:void(0)"><img src="{{{baseUIUrl}}}/assets/images/logo_main.png" width="200px;" alt="logo"/></a></td>
                           </tr>
                        </table>
                        <hr/>
                     </td>
                  </tr>
                  <tr>
                     <td height="20"></td>
                  </tr>
				    <tr>
               <td style="color: #333333; font-size: 16px; padding: 0 30px;">
                    {{{ mailContent }}}
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
            </tr>                                    
				   <tr>
					   <td>
						   <table style="margin-bottom: 0;" width="100%" border="0" cellspacing="0" cellpadding="0">
							   <tr>
								   <td style="font-size:13px;background:#259DA0; text-align: center; color: rgb(255, 255, 255); padding: 12px;">
									 Copyright &copy; {{{copyrightYear}}} <a href="{{{baseUIUrl}}}" style="color:#fff;">{{{appName}}}</a>. All Right Reserved.
								   </td>
							   </tr>
						   </table>
					   </td>						 
				   </tr>
				</table>
            </td>
         </tr>
         <tr>
            <td>&nbsp;</td>
         </tr>
      </table>
        </div>      
      </div>       
   </body>
</html>
